.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 3rem;
  padding: 2rem;
  background-color: rgba($color: #000000, $alpha: 0.035);
}

.link {
  padding: 0.5rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--primary-dark);
  transition: all 0.5s;
  &:hover {
   transform: scale(1.05);
  }
  font-size: 1.35rem;
  margin-right: 1rem;
}