@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #FFF3E0;
  --body-bg2: #f0e3d0;
  --primary-dark: #090909;
  --yellow-color: #FFC330;
  --orange-color: #FF6300;
  --lightorange-color: #FF9900;
  --white: #ffffff;
  --black: #090909;
  --purple: #CCD3FF;
}

body, html {
  background: var(--body-bg);
}

/* Animate the page header separately */
.pageHeader, .pageFooter {
  view-transition-name: page-header;
}

/* Animate the page content separately */
.pageContent {
  view-transition-name: page-content;
}

/*  */
::view-transition-old(root) {
  animation: fade-and-scale-out 0.5s ease-in-out 1 forwards;
}

::view-transition-new(root) {
  animation: fade-and-scale-in 0.4s ease-in-out 1 forwards;
}

::view-transition-old(page-header) {
  /* animation: hide 0.4s ease-in-out 1 forwards; */
}

::view-transition-new(page-header) {
  /* animation: slide-right 0.3s ease-in-out 1 forwards; */
}

::view-transition-old(page-content) {
  animation: hide 0.4s ease-in-out 1 forwards;
}

::view-transition-new(page-content) {
  animation: slide-left 0.5s ease-in-out 1 forwards;
}

/* First Animation */

@keyframes fade-and-scale-in {
  from {
      opacity: 0;
      /* transform: scale(0); */
  }

  to {
      opacity: 1;
      /* transform: scale(1); */
  }
}

@keyframes fade-and-scale-out {
  from {
      opacity: 1;
      /* transform: scale(1); */
  }

  to {
      opacity: 0;
      /* transform: scale(0); */
  }
}

/* Second Animation */

@keyframes hide {
  from {
      opacity: 1;

  }

  to {
      opacity: 0;

  }
}

@keyframes slide-left {
  from {
      opacity: 0;
      transform: translateX(-100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}

@keyframes slide-right {
  from {
      opacity: 0;
      transform: translateX(100%);
  }

  to {
      opacity: 1;
      transform: translateX(0);
  }
}
/*  */