* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #FFF3E0;
  --primary-dark: #090909;
  --yellow-color: #FFC330;
  --orange-color: #FF6300;
  --lightorange-color: #FF9900;
  --white: #ffffff;
  --black: #090909;
  --purple: #CCD3FF;
}

body {
  background: var(--body-bg);
}